#top-div {
    z-index: 100;
}

#article-content {
    overflow-x: scroll;
}

#article-content img {
    max-width: 100% !important;
    height: auto !important;
}

#article-content h1,
#article-content h2,
#article-content h3,
#article-content h4,
#article-content h5,
#article-content h6 {
    font-size: revert;
    font-weight: revert;
    margin: revert;
    color: #000;
}

.dark #article-content h1,
.dark #article-content h2,
.dark #article-content h3,
.dark #article-content h4,
.dark #article-content h5,
.dark #article-content h6 {
    color: #fff;
}

#article-content p {
    font-size: revert;
    line-height: revert;
    margin: revert;
}

.alert .border {
    border-radius: 0.5rem;
}

[multiple] option {
    border: none;
    padding: 2px 0px;
}

[multiple] option:checked {
    background-color: #d1d5db;
}

.dark [multiple] option:checked {
    background-color: #374151;
}

.dark label,
.dark small {
    color: #d1d5db;
}

.dark input[type='text'],
.dark textarea,
.dark select,
.dark option,
.dark input[type='password'],
.dark input[type='email'],
.dark input[type='date'] {
    color: #fff;
    background-color: #1f2937;
}

.dark input::placeholder {
    color: #94a3b8;
}
