{% extends 'base.html' %}

<!-- Title Block -->
{% block head_title %}EduNotes | Article{% endblock %}

<!-- Content Block -->
{% block content %}
<h1 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-2">
    {{ article.title }}
</h1>
<div class="flex space-x-5 mb-2">
    {% if article.author %}
    <span><i class="fa fa-user"></i> {{ article.author }}</span>
    {% else %}
    <span><i class="fa fa-user"></i> Deleted User</span>
    {% endif %}
    <span><i class="fa fa-calendar"></i> {{ article.published_on }}</span>
    <span><i class="fa fa-heart"></i> {{ article.likes_count }}</span>
</div>
<hr class="my-4 border-0 h-px bg-gray-700/20 dark:bg-gray-300/20" />
{% if article.author and user == article.author.user %}
<div>
    <a
        href="{% url 'blog:update-article' article.id %}"
        class="text-sm me-3 bg-black/90 dark:bg-white/10 hover:opacity-80 text-white px-3 py-2 rounded-md"
    >
        <i class="fa fa-pen-to-square"></i> Edit
    </a>
    <a
        href="{% url 'blog:delete-article' article.id %}"
        class="text-sm me-3 bg-black/90 dark:bg-white/10 hover:opacity-80 text-white px-3 py-2 rounded-md"
    >
        <i class="fa fa-trash"></i> Delete
    </a>
</div>
<hr class="my-4 border-0 h-px bg-gray-700/20 dark:bg-gray-300/20" />
{% endif %} {% if article.updated_on %}
<p class="my-2 italic">Updated on: {{ article.updated_on }}</p>
{% endif %} {% if article.show_summary %}
<div class="my-4 p-3 rounded-md bg-slate-200 dark:bg-slate-600">
    <p class="text-lg font-bold mb-2">Article Summary</p>
    <p>{{ article.content_summary|safe }}</p>
</div>
{% endif %}
<div class="text-slate-500 dark:text-slate-400 mb-2" id="article-content">
    {{ article.content|safe }}
</div>
<div
    hx-post="{% url 'blog:like-article' article.id %}"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-trigger="click"
    hx-swap="innerHTML"
    class="inline-block"
>
    {% if article.user_liked %}
    <button class="my-3 font-bold text-md text-red-600">
        <i class="fa-solid fa-heart"></i> Liked
    </button>
    {% else %}
    <button class="my-3 font-bold text-md hover:text-red-600">
        <i class="fa-regular fa-heart"></i>
        Like
    </button>
    {% endif %}
</div>
{% if article.topics %}
<div class="flex flex-wrap">
    {% for at in article.topics %}
    <a
        href="{% url 'blog:list-articles' %}?filter=topic&query={{ at.topic }}"
        class="text-sm text-white bg-black/90 dark:bg-white/10 hover:text-opacity-80 py-2 px-3 me-1 mt-1 mb-2 rounded-full"
        >#{{ at.topic }}</a
    >
    {% endfor %}
</div>
{% endif %} {% if article.author %}
<!-- Include author sectoin -->
{% include 'parts/author-section.html' %} {% if articles %}
<h2 class="text-2xl font-bold mt-4 mb-2">More from {{ article.author }}</h2>
{% include 'parts/list-articles.html' %}
<a
    href="{% url 'blog:list-articles' %}?filter=author&query={{ article.author }}"
    class="bg-black/90 dark:bg-white/10 hover:opacity-80 text-white px-3 py-2 rounded-md inline-block mt-3"
    >View More <i class="fa fa-arrow-right"></i
></a>
{% endif %} {% endif %} {% endblock %}
