{% extends 'base.html' %} {% load tailwind_filters %}

<!-- Title Block -->
{% block head_title %}EduNotes | Profile{% endblock %}

<!-- Content Block -->
{% block content %}
<h1 class="text-2xl font-bold mt-4 mb-2">{{ author }}</h1>
<div class="flex space-x-5 mb-2">
    <span>
        <i class="fa fa-calendar"></i> Joined {{ author.user.date_joined.date }}
    </span>
    <span><i class="fa fa-heart"></i> {{ author.likes_count }}</span>
</div>
<hr class="my-4 border-0 h-px bg-gray-700/20 dark:bg-gray-300/20" />
{% if form %} {% include 'parts/profile-stats.html' %}
<h1 class="text-2xl font-bold mt-4 mb-2">Profile Description</h1>
<p class="text-slate-500 dark:text-slate-400 mb-2">
    Add or Edit your profile description.
</p>
<form method="post" class="mb-2">
    {% csrf_token %} {{ form|crispy }}
    <input type="hidden" name="form_type" value="edit_form" />
    <button
        type="submit"
        class="bg-black/90 dark:bg-white/10 hover:opacity-80 text-white font-bold px-3 py-2 rounded-md"
    >
        <i class="fa fa-floppy-disk"></i> Save
    </button>
</form>
<h1 class="text-2xl font-bold mt-4 mb-2">Delete Account</h1>
<div class="mt-4 p-4 border-2 border-red-600 rounded-md">
    <p class="text-red-600 mb-2">
        <span class="font-bold"><i class="fa fa-warning"></i> WARNING:</span>
        This action is irrversible. Proceeding removes your account, likes and
        reading lists from the EduNotes platform.
    </p>
    <form method="post">
        {% csrf_token %}
        <button
            type="submit"
            class="bg-black/90 dark:bg-white/10 text-white hover:bg-red-600 hover:dark:bg-red-600 font-bold px-3 py-2 rounded-md"
        >
            Delete Account
        </button>
    </form>
</div>
{% else %} {% if author.description %}
<p class="text-slate-500 dark:text-slate-400">{{ author.description }}</p>
{% else %}
<p class="text-slate-500 dark:text-slate-400">
    No description provided by author.
</p>
{% endif %}
<div
    hx-post="{% url 'blog:like-author' author.id %}"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-trigger="click"
    hx-swap="innerHTML"
    class="inline-block"
>
    {% if author.user_liked %}
    <button class="my-3 font-bold text-md text-red-600">
        <i class="fa-solid fa-heart"></i> Liked
    </button>
    {% else %}
    <button class="my-3 font-bold text-md hover:text-red-600">
        <i class="fa-regular fa-heart"></i>
        Like
    </button>
    {% endif %}
</div>
{% endif %} {% if articles %}
<h1 class="text-2xl font-bold mt-4 mb-2">Most Liked Articles</h1>
{% include 'parts/list-articles.html' %}
<a
    href="{% url 'blog:list-articles' %}?filter=author&query={{ author }}"
    class="bg-black/90 dark:bg-white/10 hover:opacity-80 text-white px-3 py-2 rounded-md inline-block"
    >View More <i class="fa fa-arrow-right"></i
></a>
{% endif %} {% if collections %}
<h1 class="text-2xl font-bold mt-4 mb-2">Most Liked Reading Lists</h1>
{% include 'parts/list-collections.html' %}
<a
    href="{% url 'blog:list-collections' %}?filter=creator&query={{ author.user }}"
    class="bg-black/90 dark:bg-white/10 hover:opacity-80 text-white px-3 py-2 rounded-md inline-block"
    >View More <i class="fa fa-arrow-right"></i
></a>
{% endif %} {% endblock %}
