{% extends 'base.html' %}

<!-- Title Block -->
{% block head_title %}EduNotes | Reading List{% endblock %}

<!-- Content Block -->
{% block content %}
<h1 class="text-2xl md:text-3xl lg:text-4xl font-bold mb-2">
    {{ collection.title }}
</h1>
<div class="flex space-x-5 mb-2">
    <span><i class="fa fa-user"></i> {{ collection.creator }}</span>
    <span><i class="fa fa-calendar"></i> {{ collection.created_on }}</span>
    <span><i class="fa fa-heart"></i> {{ collection.likes_count }}</span>
</div>
<hr class="my-4 border-0 h-px bg-gray-700/20 dark:bg-gray-300/20" />
{% if user == collection.creator %}
<div>
    <a
        href="{% url 'blog:update-collection' collection.id %}"
        class="text-sm me-3 bg-black/90 dark:bg-white/10 hover:opacity-80 text-white px-3 py-2 rounded-md"
    >
        <i class="fa fa-pen-to-square"></i> Edit
    </a>
    <a
        href="{% url 'blog:delete-collection' collection.id %}"
        class="text-sm me-3 bg-black/90 dark:bg-white/10 hover:opacity-80 text-white px-3 py-2 rounded-md"
    >
        <i class="fa fa-trash"></i> Delete
    </a>
</div>
<hr class="my-4 border-0 h-px bg-gray-700/20 dark:bg-gray-300/20" />
{% endif %} {% if collection.updated_on %}
<p class="my-2 italic">Updated on: {{ collection.updated_on }}</p>
{% endif %}
<p class="text-slate-500 dark:text-slate-400 mb-2">
    {{ collection.description }}
</p>
{% include 'parts/list-articles.html' %}
<div
    hx-post="{% url 'blog:like-collection' collection.id %}"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-trigger="click"
    hx-swap="innerHTML"
    class="inline-block"
>
    {% if collection.user_liked %}
    <button class="my-3 font-bold text-md text-red-600">
        <i class="fa-solid fa-heart"></i> Liked
    </button>
    {% else %}
    <button class="my-3 font-bold text-md hover:text-red-600">
        <i class="fa-regular fa-heart"></i>
        Like
    </button>
    {% endif %}
</div>
{% if collections %}
<h1 class="text-2xl font-bold mt-4 mb-2">More from {{ collection.creator }}</h1>
{% include 'parts/list-collections.html' %}
<a
    href="{% url 'blog:list-collections' %}?filter=creator&query={{ collection.creator }}"
    class="bg-black/90 dark:bg-white/10 hover:opacity-80 text-white px-3 py-2 rounded-md inline-block"
    >View More <i class="fa fa-arrow-right"></i
></a>
{% endif %} {% endblock %}
