{% extends 'base.html' %}

<!-- Title Block -->
{% block head_title %}EduNotes | Home{% endblock %}

<!-- Content Block -->
{% block content %}
<!-- Hero Section -->
{% if user.is_anonymous %}
<h1 class="text-3xl md:text-4xl lg:text-5xl text-center font-bold mb-2">
    Create educational articles on various topics on EduNotes!
</h1>
<p
    class="text-md md:text-lg lg:text-xl text-center text-slate-500 dark:text-slate-400 my-7"
>
    Welcome to EduNotes educational blog. Create and share articles and subject
    collections today. Find articles by topic or author:
</p>
<p
    class="text-md md:text-lg lg:text-xl text-center text-slate-500 dark:text-slate-400 my-7"
>
    TODO add a search form here.
</p>
<div class="w-full flex justify-center">
    <a
        href="{% url 'authentication:login-or-register' %}"
        class="text-md md:text-lg lg:text-xl p-3 rounded-full bg-black/90 text-white dark:bg-white/10 dark:text-gray-100 hover:opacity-90"
        >Get Started <i class="fa fa-arrow-right"></i
    ></a>
</div>

<hr class="my-10 border-0 h-px bg-gray-700/20 dark:bg-gray-300/20" />
{% endif %}

<!-- Browsing -->
<h1 class="text-lg md:text-xl lg:text-2xl font-bold mb-2">Popular Articles</h1>
<p class="md:text-md text-slate-500 dark:text-slate-400 mb-4">
    Popular articles in the past 24 hrs:
</p>
<h1 class="text-lg md:text-xl lg:text-2xl font-bold mb-2">
    Popular Collections
</h1>
<p class="md:text-md text-slate-500 dark:text-slate-400 mb-4">
    Popular collections in the past 24 hrs:
</p>
<h1 class="text-lg md:text-xl lg:text-2xl font-bold mb-2">Popular Authors</h1>
<p class="md:text-md text-slate-500 dark:text-slate-400 mb-4">
    Popular authors in the past 24 hrs:
</p>
{% endblock %}
