{% extends 'base.html' %}

<!-- Title Block -->
{% block head_title %}EduNotes | Home{% endblock %}

<!-- Content Block -->
{% block content %}
<!-- TODO to restore later if user.is_anonymous -->
<h1 class="text-3xl md:text-4xl lg:text-5xl text-center font-bold mb-2">
    Create educational articles on EduNotes!
</h1>
<p
    class="text-md md:text-lg lg:text-xl text-center text-slate-500 dark:text-slate-400 my-7"
>
    Welcome to EduNotes educational blog for learners and knowledge sharers.
    Create and share articles and article reading lists today!
</p>
<p
    class="text-md md:text-lg lg:text-xl text-center text-slate-500 dark:text-slate-400 my-7"
>
    TODO add advanced search
</p>

<hr class="my-10 border-0 h-px bg-gray-700/20 dark:bg-gray-300/20" />
<!-- endif -->

<!-- Browsing -->
<!-- Articles Section -->
{% if articles %}
<section>
    <h1 class="text-lg md:text-xl lg:text-2xl font-bold my-3">
        Most Liked Articles
    </h1>
    {% include 'parts/list-articles.html' %}
</section>
{% endif %}
<!-- Reading Lists Section -->
{% if collections %}
<section>
    <h1 class="text-lg md:text-xl lg:text-2xl font-bold my-3">
        Most Liked Reading Lists
    </h1>
    {% include 'parts/list-collections.html' %}
</section>
{% endif %}
<!-- Authors Section -->
{% if authors %}
<section>
    <h1 class="text-lg md:text-xl lg:text-2xl font-bold my-3">
        Most Liked Authors
    </h1>
    {% include 'parts/list-authors.html' %}
</section>
{% endif %} {% endblock %}
