{% extends 'base.html' %}

<!-- Title Block -->
{% block head_title %}EduNotes | My Articles{% endblock %}

<!-- Content Block -->
{% block content %}
<h1 class="text-2xl font-bold">My Articles</h1>
<a
    href="{% url 'blog:create-article' %}"
    class="bg-black/90 dark:bg-white/10 hover:opacity-80 text-white font-bold px-3 py-2 inline-block my-4 rounded-md"
>
    <i class="fa fa-plus"></i> Create New
</a>
{% if articles %}
<!-- Include search form -->
{% include 'parts/search-form.html' %}
<!-- Include articles list -->
{% include 'parts/list-articles.html' %} {% else %}
<p class="text-slate-500 dark:text-slate-400 mb-2">
    You have not created any articles yet.
</p>
{% endif %} {% endblock %}
